<header class="header">
    <div class="nav-container">
        <button type="button" class="toggle-header">
            <i class="fa-solid fa-bars"></i>
        </button>
        <a href="/" class="logo-link">
            <img src="/assets/logo/logo.svg" alt="Logo Dover">
        </a>
    </div>
    <nav>
        <div class="nav-container">
            <button type="button" class="toggle-header">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <a href="/" class="logo-link">
                <img src="/assets/logo/logo.svg" alt="Logo Dover">
            </a>
        </div>

        <ul class="navbar">
            <li class="navbar__item"><a href="/">Inicio</a></li>
            <li class="navbar__item"><a href="/pages/explore/
                ">Explorar</a></li>
            <!-- <li class="navbar__item"><a href="/pages/">Tienda</a></li> -->
        </ul>
        <div id="loginButtons" class="buttons">
            <a href="/pages/login/index.html?action=login" class="btn btn--primary">Ingresar</a>
            <a href="/pages/login/index.html?action=sign" class="btn btn--secondary">Registrarse</a>
        </div>
        <div class="user">
            <img src="" alt="" class="user__img">
            <div class="user__info">
                <p class="user__username"></p>
                <p class="user__email"></p>
            </div>
        </div>

    </nav>
</header>