<header class="header">
    <div class="nav-container">
        <button type="button" class="toggle-header">
            <i class="fa-solid fa-bars"></i>
        </button>
        <a href="/" class="logo-link">
            <img src="/assets/logo/logo.svg" alt="Logo Dover">
        </a>
    </div>
    <nav>
        <div class="nav-container">
            <button type="button" class="toggle-header">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <a href="/" class="logo-link">
                <img src="/assets/logo/logo.svg" alt="Logo Dover">
            </a>
        </div>

        <form class="form" class="form--search">
            <input type="text" name="" id="" placeholder="Busqueda">
            <button type="submit">Buscar</button>
        </form>

        <ul class="navbar">
            <li class="navbar__item"><a href="/">Inicio</a></li>
            <li class="navbar__item"><a href="/pages/explore/
                ">Explorar</a></li>
            <li class="navbar__item"><a href="/pages/">Tienda</a></li>
        </ul>
        <div id="loginButtons" class="buttons">
            <a href="/pages/login/index.html?action=login" class="btn btn--primary">Ingresar</a>
            <a href="/pages/login/index.html?action=sign" class="btn btn--secondary">Registrarse</a>
        </div>

    </nav>
</header>