<footer class="footer">
    <nav class="social">
        <a class="social__item" href="https://www.linkedin.com/in/sanchezdev1906/">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a class="social__item" href="https://github.com/sanchezdev-1906">
            <i class="fa-brands fa-github"></i>
        </a>
        <a class="social__item" href="https://twitter.com/sanchezdev1906">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </nav>
    <p>
        &copy;Dover 2023
    </p>
</footer>