.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  height: max-content;
  padding: 1em;
  background-color: var(--storm);
  color: var(--text-c-light);
  width: 100%;
}

.social .social__item {
  font-size: 30px;
  text-decoration: none;
  color: currentColor;
}
.social .social__item:hover {
  color: var(--majorelle);
}
